<h1><%= @user.first_name %> <%= @user.last_name %>'s Uploads</h1>

<p>Here are all the files you've uploaded:</p>

<% if @user.convoyd_files.present? %>
	<% for convoyd_file in @user.convoyd_files %>
		<ul>
			<li>
				<b><%= convoyd_file.upload_file_name %></b>, uploaded <%= convoyd_file.created_at %>
				| <%= link_to 'Link', convoyd_file.upload.url(:original), :target => "_blank"  %>
				| <%= link_to 'Delete', convoyd_file, :confirm => "Are you sure you want to delete the file #{convoyd_file.upload_file_name}?", :method => :delete %>
			</li>	
		</ul>		
	<% end %>
<% else %>
	 <p><em>You haven't uploaded anything yet.</em></p>
<% end %>	
		
<%= link_to 'Upload a New File', new_user_convoyd_file_path(@user) %><br /><br />
		