<h1><%= @user.first_name %> <%= @user.last_name %>'s Uploads</h1>

<p>Here are all the files you've uploaded:</p>

<p><em>Remember, files are automatically deleted after 48 hours.</em><p>

<% if @user.convoyd_files.present? %>
	<% for convoyd_file in @user.convoyd_files %>
		<ul>
			<li>
				<%= link_to "#{convoyd_file.upload_file_name}", download_convoyd_file_path(convoyd_file) , :target => "_blank"  %>,
				 uploaded <%= convoyd_file.created_at %>
				<%= button_to "Delete", { :controller => 'convoyd_files', :action => 'destroy', :id => convoyd_file.id, :user_id => @user.id },
					:confirm => "Are you sure you want to delete the file #{convoyd_file.upload_file_name}?", :method => :delete %>
			</li>	
		</ul>		
	<% end %>
<% else %>
	 <p><em>You haven't uploaded anything yet.</em></p>
<% end %>	
		
<%= link_to 'Upload a New File', new_user_convoyd_file_path(@user) %><br /><br />
		